.listWrapper{
  width: 100%;
}

.listContainer {
    width: 100%;
    background-color: var(--bg-color-dark);
    min-height: 30vw;
    padding: 5rem 6rem;
    border-radius: 3rem;
    box-shadow: 2px 2px 4px #777777;
  }
  
  .searchContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
  
  .searchButton {
    width: 8rem;
    border-radius: 3rem 0 0 3rem;
    cursor: pointer;
  }

  .pi-search {
    color: var(--black);
  }
  
  .searchInput {
    width: 100%;
    border-radius: 0 3rem 3rem 0;
  }
  
  .searchInput::placeholder,
  .searchInput {
    color: var(--black);
    font-weight: 400;
    font-size: 2rem;
    font-family: var(--mainfont);
  }
  .searchButton,
  .searchInput {
    height: 5rem;
    background-color: var(--bg-color);
    border: none;
  }
  
  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem auto;
    font-family: var(--mainfont);
  }
  .listTitle {
    font-size: 2rem;
    font-weight: 500;
  }
  .leftPartList,
  .rightPartList {
    display: flex;
    color: var(--black);
    font-size: 1.9rem;
    gap: 2rem;
    font-weight: 300;
  }
  .leftPartList {
    display: flex;
    align-items: center;
  }
  
 hr {
    height: 1.5px;
    background-color: var(--bg-color);
    border: none;
  }
  
  .leftPartList.memberList{
    gap: .7rem;
  }

  .notFoundSearch {
    font-size: 2rem;
    color: var(--black);
  }