.mainContainer {
    display: flex;
    gap: 4rem;
    width: 100%;
  }

  section {
    width: 100%;
  }
  
  .sectionButtons {
    display: flex;
    justify-content: end;
    margin-right: 6rem;
    gap: 1rem;
    position: relative;
   
  }
  
  .sectionButtons button {
    padding: 1rem 2.5rem 1rem 2.5rem;
    font-size: 2rem;
    font-family: var(--mainfont);
    border: none;
    border-radius: 1rem 1rem 0 0;
    cursor: pointer;
  }
  
  .bgGreen {
    background-color: var(--highlight-color3);
    color: var(--black);
  }
  
  .bgCream {
    background-color: var(--bg-color-dark);
    color: var(--black);
  }
  