header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header h1 {
    font-family: var(--titlefont);
    font-weight: 400;
    color: var(--negro);
    font-size: 7rem;
    font-style: normal;
  }
  
.logo {
  height: 6rem;
  /* filter:grayscale(.75); */
}